API_ID = 29779494
API_HASH = 8412f75c1e9ff8a8b8cbd7e3849fd990
BOT_TOKEN = 5418725646:AAEOcSmGWhLTfCoSBz-qHKr9erNT-sW1-M8
LOG_GROUP_ID = -1002222604638
MONGO_DB_URI = mongodb+srv://debojitxd:2ncCO6p0y0lhHmBw@cluster0.8ln56.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID = 6391774843
STRING_SESSION = BQHGZiYAa6K-R1b7v5gk3irUqlHlGA0kRW1irTlvbqtS8AFnmdB6zcULOlArBVRsNgNJsR5cQOIzmHYTrjr1tD0-OnKD35A9hEhXlE0yqHJS_WS4pEAiFM_h_g2K06c4w2qRMSck7qX2g7zX7f95CeeHaVjdbDhAl6YaAJd9sU8Vq2h4EF41yMqFxBxkbZcOWpyxEGeMMqNTd7JIVnbLDgd_EVQp0M_MnEvXRAx2F3dJMsHyxCB2lh8hx3y-fUYvjz3J3M7MwzXhsuAt9Nw6hyGCaEmKBSaQ7ygaVJzctQuBioOcxL4JFsgyrIKq06UU6RvnVq6ArhZbfTeNmuRrepmD74k8wwAAAAHc8sT8AA
